<a href="/" class="absolute top-6 left-6 flex items-center gap-2 text-on-surface-variant hover:text-on-surface transition">
  <span class="material-symbols-outlined text-lg">arrow_back</span>
  Home
</a>